.container-body{
  background-image: url(../images/NYC-Dusk.jpg);
  background-position: 90% 0%;
  background-repeat: no-repeat;
  height: 150vh;
}

/*.navbar-default {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  height: 105px;
}*/

.logo{
  display: block;
  text-align: center;
  margin: auto;
  max-height: 55vh;
}

.boiler{
  padding: 15px;
  margin: auto;
  max-width: 90vh;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  color: #E3DB9F;
  background-color: rgba(0,0,0,0.55);
  border-radius: 6px;
}

.tail{
  height: 20vh
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .container-body{
    background-position: 90% 0%;
    background-repeat: no-repeat;
    height: 100%;
  }
}

@media screen and (max-width: 600px){
/*  .container-body{
  background-image: url(../images/NYC-Skyline.jpg);
  background-position: 30% 20%;
  height: 100vh;
}*/
  .boiler{
    font-size: 30px;
  }

  .logo {
    max-height: 30vh;
  }
}

